/**
 * CTA Block Editor Styles
 * Importa los estilos del frontend y añade específicos del editor
 */

@import url("./style.css");

.cta-image-container {
	display: flex;
	align-items: center;
	padding: 20px;

	.block-editor-media-placeholder {
		width: 60%;
	}
}

.button-remove {
	z-index: 2;
	position: absolute;
	top: 20px;
	left: 20px;
	background: white;
	color: #b93535;
	border: 2px solid #b93535;
	cursor: pointer;
	border-radius: 4px;
}

.variant-text-left {
	.cta-image-container {
		justify-content: flex-end;
	}

	.button-remove {
		left: unset;
		right: 20px;
	}
}
