<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" id="main-content" style="margin-top:var(--wp--preset--spacing--60); margin-bottom: var(--wp--preset--spacing--60)">
	<!-- wp:query-title {"type":"search"} /-->
	<!-- wp:pattern {"slug":"twentytwentyfive/hidden-search"} /-->
	<!-- wp:pattern {"slug":"twentytwentyfive/template-query-loop"} /-->
	<!-- wp:pattern {"slug":"twentytwentyfive/more-posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
